alabaster==0.7.10
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
cobra==0.9.1
coverage==4.4.2
dill==0.2.5
docutils==0.14
future==0.16.0
idna==2.6
imagesize==0.7.1
Jinja2==2.10
joblib==0.11
m2r==0.1.12
MarkupSafe==1.0
mistune==0.8.3
mpmath==1.0.0
numpy==1.13.3
optlang==1.3.0
pandas==0.21.1
PyFunctional==1.0.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
ruamel.yaml==0.14.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.10.0
sklearn-utils==0.0.13
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
swiglpk==1.4.4
sympy==1.1.1
tabulate==0.7.7
urllib3==1.22
